
@model IList<AluraMVC5.Models.Produto>


<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="row"></th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <th scope="row">*</th>
                <td>@produto.Id</td>
                <td>@Html.RouteLink(@produto.Nome, "VisualizaProduto", new { id = produto.Id })</td>
                <td id="quantidade@(produto.Id)">@produto.Quantidade</td>
                <td>@produto.Categoria.Nome</td>
                <td><a href="#" class="btn btn-danger btn-sm" onclick="Decrementa(@produto.Id)">-</a></td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.RouteLink("Adicionar Novo Produto", "AdicionarProduto")

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function Decrementa(produtoID) {
        var url = "@Url.Action("DecrementaQuantidade", "Produto")";
        $.post(url, { id: produtoID }, Atualiza);
    }

    function Atualiza(resposta) {
        debugger;
        $("#quantidade" + resposta.Id).html(resposta.Quantidade);
    }
</script>