@model AluraMVC5.Models.Produto

<h1>Detalhes @Model.Nome</h1>
<div>
    Id = @Model.Id <br />
    Nome = @Model.Nome <br />
    Quantidade = @Model.Quantidade <br />
    Preço = @Model.Preco <br />
    Descrição = @Model.Descricao <br />
    Categoria = @Model.Categoria.Nome <br />

    <br />
    @Html.RouteLink("Voltar para Lista de Produtos", "ListaProdutos")
</div>
